section
{
    margin-bottom: 30px;
}
.section-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.section-title i
{
    color: #4F875F;
    margin-right: 6px;
}
.section-title h2
{
    margin: 0;
    margin-bottom: 0 !important;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}

#login
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#login p
{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
#login a
{
    color: #4F7387;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 600px)
{
    div[class^="field-row"]
    {
        flex-wrap: wrap;
    }
    div[class^="field-row"] .fields-control {
        margin-right: 0;
    }
}